
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {background-color: #f1f1f1; 
    color:#0f141e; 
     font-size: 16px; 
     font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(87, 87, 87);
}

a:visited {
    color: rgb(90, 90, 90)
}

.ava {
    width: 300px;
    border-radius: 16px;
    box-shadow: 15px 20px 14px rgba(0, 0, 0, 0.25);
}

.info p {
    color: #000000;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
   /* text-transform: uppercase; */
   /* letter-spacing: 5px; */
   /* word-spacing: 5px; */
}

/* Box-model */
.container {
    max-width: 750px;
    margin: auto;
}

/* .social {
    background: rgb(180, 180, 180);
    padding: 15px;
    border: 3px solid rgb(65, 65, 65);
    margin: 20px;
    border-bottom-style: dotted;
    border-top-width: 15px;
    border-right-color: #0f141e;
/* } */

.bg-yellow {
    background: #fff9dc;
    box-shadow: 15px 20px 14px rgba(0, 0, 0, 0.25);
}
.bg-green {
    background: #e5ffe7;
    box-shadow: 15px 20px 14px rgba(0, 0, 0, 0.25);
}
.bg-red {
    background: #ffe5e5;
    box-shadow: 15px 20px 14px rgba(0, 0, 0, 0.25);
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}